/*======== Start Header Part Media Query======= */
@media screen and (max-width: 980px){
    .logo-area{
        width: 100%;
        float: none;
        text-align: center;
    }
    .login-area{
        width: 60%;
        float: none;
        margin: 8px auto;
    }
    .login-area form{
        float: none;
    }
    .left-area{
        width: 100%;
        float: none;
    }
    .right-area{
        width: 100%;
        float: none;
    }
    .business{
        margin: 1px;
    }
    .btn{
    margin-bottom: 0px;
}
@media screen and (max-width: 768px){
    .login-area .email,
    .login-area .password,
    .login-area .log-in{
        float: none;
        margin-right: 0px;
    }
    .login-area input[type="text"],
    .login-area input[type="password"]{
        width: 100%;
        box-sizing: border-box;
    }
    .login-area input[type="submit"]{
        margin-top: 10px;
    }
    .login-area{
        width: 100%;
    }
}
@media screen and (max-width: 480px){
    .container{
        width: 80%;
    }
    .birth-date{
        margin-bottom: 8px;
    }
    .left-area p{
        width: 100%;
    }
    .text-box p{
        width: 100%;
    }
}
/* End Header Part Media Query*/